.week-view-cell {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 150px;
  height: min-content;
}

.month-view-cell {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100px;
  height: min-content;
}

.button-box {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

#week-label-box,
#month-label-box,
#year-label-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
