.week-view-cell {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: min-content;
}

.month-view-cell {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100px;
  height: min-content;
}

.button-box {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

#week-label-box,
#month-label-box,
#year-label-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* td {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.year-day:hover {
  color: rgb(255, 60, 0);
}

td:hover {
  cursor: pointer;
}

.td-selected {
  color: #f7d00e;
}

.tiny-cal-shifter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.cal-select {
  width: 30%;
}
#cal-close {
  font-size: 2rem;
  align-self: center;
}
.cal-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0a0a0a;
  padding: 10px;
  box-sizing: border-box;
  color: #fafafa;
}
#cal-view {
  width: 70%;
}

.btn-warning {
  background-color: #f7d00e;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}
