.title-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

a.user-name,
a.flag-post,
a.reply-to-post {
  text-decoration: none;
  color: #fff;
}

a.user-name:hover,
a.flag-post:hover,
a.reply-to-post:hover {
  opacity: 0.75;
}

#close {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: 0.5;
  text-shadow: 0 1px 0 #fff;
}

#close:hover {
  opacity: 0.8;
}

body {
  background-color: #febc14;
}

.nav-item:hover {
  cursor: pointer;
}

.nav-item {
  padding: 0 10px;
}

.forum-view-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
}

#forum-select {
  width: min-content;
}
#title-input {
  max-width: 150px;
}
#title-search {
  margin: 0 10px;
  border-color: #0a0a0a;
  color: #0a0a0a;
}
#title-search:hover {
  background-color: #0a0a0a;
  color: #fafafa;
}

#create-post {
  color: #0a0a0a;
  background-color: transparent;
  border-color: #0a0a0a;
}

#create-post:hover {
  background-color: #0a0a0a;
  color: #fafafa;
}
