html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.root {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
#transition-scene {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: 20;
  background-color: white;
  opacity: 0.8;
}

#main-scene {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: transparent;
}

#parent {
  flex: 1 0 auto;
  background-color: #f0efd1;
  margin-top: 55px;
  padding: 12px;
  box-sizing: border-box;
}

.bg-custom-dark {
  background-color: #1b1b1b;
  color: #f0efd1;
}

.bg-custom-light {
  background-color: #f0efd1;
  color: #1b1b1b;
}

.shadow {
  text-shadow: 0px 2px #000;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.hr-yellow {
  width: 100%;
  height: 2px;
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0),
    10%,
    #febc14 50%,
    90%,
    rgba(0, 0, 0, 0)
  );
}

#tray {
  display: none;
}

a {
  text-decoration: none;
  color: #f0efd1;
}

a:hover,
a:active {
  text-decoration: none;
  color: #febc14;
}

a:focus {
  outline-color: #febc14;
}

.view-title {
  width: 100%;
  text-align: center;
  height: max-content;
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 0 2px #000;
  color: #febc14;
  margin-bottom: 0.625rem;
}

.table-title {
  width: 100%;
  text-align: center;
  height: max-content;
  font-size: 1rem;
  text-shadow: 1px 1px #000;
  color: #febc14;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
