.households {
  border: 1px solid black;
}

.jumbotron p {
  font-size: 12px;
}

.menu {
  background-color: black;
}

body {
  background-image: url("../img/pencils.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

div {
  overflow-x: hidden;
}

.nav-item {
  padding: 0 10px;
}

.house-head {
  color: #f7d00e;
}

.house-header {
  background-color: black;
  text-align: center;
}
