.households {
  border: 1px solid black;
}

.jumbotron p {
  font-size: 12px;
}

.menu {
  background-color: black;
}

body {
  background-image: url("../img/pencils.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.nav-item {
  padding: 0 10px;
}

.house-head {
  color: #fafafa;
  text-shadow: 1px 1px 1px #f7d00e, -1px 1px 1px #f7d00e, 1px -1px 1px #f7d00e,
    -1px -1px 1px #f7d00e;
}

.house-header {
  background-color: black;
  text-align: center;
}

#navbarButtons button {
  margin: auto;
}

#house-nav {
  margin: auto;
}

.special-container {
  flex: 1 0 auto;
}
