.header {
  margin-bottom: 30px;
  line-height: 50px;
  background-color: rgb(238, 238, 238);
}

.thread {
  border: 2px solid black;
}

#searchField {
  width: 70%;
  margin-right: 10px;
}

.jumbotron p {
  font-size: 12px;
}

#sampleHousehold {
  border: 2px solid black;
}